<p>
  <b>Photospace:</b>
  <%=h @wpis.photospace_id %>
</p>

<p>
  <b>Body:</b>
  <%=h @wpis.body %>
</p>

<p>
  <b>Podpis:</b>
  <%=h @wpis.podpis %>
</p>


<%= link_to 'Edit', edit_wpis_path(@wpis) %> |
<%= link_to 'Back', wpisy_path %>